.card {
    margin: 1em auto;

    .header {
        font-size: 1.25em;
        padding: 0.25em;
    }

    .image {
        img {
            border-radius: 50%;
            width: 100%;
        }
    }

    .footer {
        font-size: 0.85em;
        font-style: italic;
        padding: 0.25em;
    }
}

.card-full {
    width: 200px;

    .image {
        img {
            height: 200px;
        }
    }
}

.card-icon {
    cursor: pointer;
    margin: 0 0.5em;
    transition: transform 0.25s;
    width: 150px;

    .image {
        img {
            height: 150px;
        }
    }
}
.card-icon:hover {
    transform: scale(1.05);
}