.wrapper-outer {
    align-items: space-between;
    display: flex;
    flex-direction: column;
    height: 100vh;

    h1 {
        text-align: center;
    }

    header {
        background-color: #333;
        width: 100%;
    }

    nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    ul {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
    }

    section {
        align-items: center;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        flex: 1;
        overflow: hidden;
        animation: bg-scale 1s;
        animation-fill-mode: forwards;

        .wrapper-inner {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
        }

        .wrapper-individual {
            margin: 0 1em;
        }
    }

    .card-wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    footer {
        align-items: center;
        background-color: #333;
        display: flex;
        justify-content: space-between;
    }
}