@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

//base styles
* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-weight: 200;
}

//utilities - flex
.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.flex-col-center {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-apart {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

//utilities - general
.full-screen {
	height: 100vh;
	width: 100%;
}

//utilities - padding
.padding-sm {
	padding: 0.5em;
}


//utilities - text
.text-lg {
	font-size: 2em;
}

.text-light {
    color: #f5f5f5;
}

.add-shadow {
	box-shadow: 0 0 4px 0 #000;
}

.italic {
	font-style: italic;
}


//transition effects
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}


//animations
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}